<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buffer1</key>
	<data>
	AQAAANAcRwUBAAAAUB5HBQEAAADwH0cFAQAAAHAhRwUBAAAAECNHBQEAAACQJEcFAQAA
	ADAmRwUBAAAAoCdHBQEAAABAKUcFAQAAAMAqRwUBAAAAYCxHBQEAAADgLUcFAQAAAIAv
	RwUBAAAAADFHBQEAAACgMkcFAQAAABA0RwUBAAAAsDVHBQEAAAAwN0cFAQAAANA4RwUB
	AAAAUDpHBQEAAADwO0cFAQAAAHA9RwUBAAAAUH5EBQEAAABwQEcFAQAAAOBBRwUBAAAA
	UENHBQEAAADAREcFAQAAAGBGRwUBAAAA4EdHBQEAAABQSUcFAQAAANBKRwUBAAAAQExH
	BQEAAADATUcFAQAAAEBPRwUBAAAA4FBHBQEAAABgUkcFAQAAAABURwUBAAAAcFVHBQEA
	AAAQV0cFAQAAAJBYRwUBAAAA0J1EBQEAAACQW0cFAQAAAFChRAUBAAAAEKNEBQEAAADA
	X0cFAQAAADBhRwUBAAAAoGJHBQEAAAAQZEcFAQAAAIBlRwUBAAAA8GZHBQEAAABgaEcF
	AQAAANBpRwUBAAAAQGtHBQEAAADgbEcFAQAAAGBuRwUBAAAA0G9HBQEAAADAuUQFAQAA
	AIC7RAUBAAAAQL1EBQEAAADwvkQFAQAAAMDARAUBAAAAgMJEBQEAAABAxEQFAQAAAPDF
	RAUBAAAAwMdEBQEAAACQyUQFAQAAAEDLRAUBAAAA8MxEBQEAAADQzkQFAQAAAJDQRAUB
	AAAAQNJEBQEAAAAA1EQFAQAAALDVRAUBAAAAIIhHBQEAAABQ2UQFAQAAABDbRAUBAAAA
	UIxHBQEAAACA3kQFAQAAAEDgRAUBAAAA8OFEBQEAAADQ40QFAQAAAIDlRAUBAAAAQOdE
	BQEAAAAQ6UQFAQAAAECXRwUBAAAAsJhHBQEAAABQ7kQFAQAAABDwRAUBAAAAwPFEBQEA
	AACQ80QFAQAAAKCfRwUBAAAAEKFHBQEAAACAokcFAQAAAPCjRwUBAAAAYKVHBQEAAAAQ
	/kQFAQAAAND/RAUBAAAAkKlHBQEAAAAAq0cFAQAAABAFRQUBAAAA0AZFBQEAAAAwr0cF
	AQAAAKCwRwU=
	</data>
	<key>bugFixOS</key>
	<integer>6</integer>
	<key>majorOS</key>
	<integer>10</integer>
	<key>minorOS</key>
	<integer>11</integer>
	<key>pdfsWritten</key>
	<false/>
</dict>
</plist>
